<template name="about_me">        
	<section class="about section">
	    <div class="section-inner">
	        <h2 class="heading">About Me</h2>
	        <div class="content">
	            <p>Computer Science student from NTNU, Norway. Studying my fourth out of five years at University of California, Santa Barbara. Really interessted in data mining and artificial intelligence and have gotten really fond of Meteor JS the past year. Originally from a small town in Norway, Ålesund, but have lived the past years in Trondheim. </p> 
	        </div>
		</div>
	</section>

</template>