<template name = "education">
	<aside class="education aside section">
		<div class="section-inner">
		    <h2 class="heading">Education</h2>
		    <div class="content">
		        <div class="item">
		            <h3 class="title"><i class="fa fa-graduation-cap"></i> MSc Computer Science</h3>
		            <h4 class="university">University of California, Santa Barbara <span class="year">(2014-Present)</span></h4>
		        </div><!--//item-->

		        <div class="item">                      
		            <h3 class="title"><i class="fa fa-graduation-cap"></i> MSc Computer Science</h3>
		            <h4 class="university">Norwegian University of Science and Technology<span class="year">(2011-Present)</span></h4>
		        </div><!--//item-->

		        
		    </div><!--//content-->
		</div><!--//section-inner-->
	</aside>
</template>
