<template name="latest_projects">
	<section class="latest section">
		<div class="section-inner">
		    <h2 class="heading">Latest Projects</h2>


		    <div class="content">    		                           
		        <div class="item featured text-center">
		            <h3 class="title"><a href="https://sites.google.com/site/ece251mountainspotter/" target="_blank">Mountain Spotter</a></h3>
		            <p class="summary">Mountain Spotter - Know what you see!</p>
		            <div class="featured-image">
		                <a href="https://sites.google.com/site/ece251mountainspotter/" target="_blank">
		                <img class="img-responsive project-image" src="pictures/mountainSpotter.jpg" alt="project name">
		                </a>
		                <div class="ribbon">
		                    <div class="text">New</div>
		                    </div>
		                </div>
		                
		            <div class="desc text-left">                                    
		                <p>What is the name of that mountain over there? How tall is that mountain? With Mountain Spotter you could just point your camera towards it and the name pops up on your screen. 
						Mountain Spotter also lets you see all the mountains on in list mode and through a map witch makes it easy for you too familiarize yourself with the terrain. </p>

		            </div><!--//desc-->         
		            <a class="btn btn-cta-secondary" href="https://sites.google.com/site/ece251mountainspotter/" target="_blank"><i class="fa fa-thumbs-o-up"></i> Learn more</a>                 
		        </div><!--//item-->



		        <hr class="divider">


		        <div class="item row">
		            <a class="col-md-4 col-sm-4 col-xs-12" href="https://sites.google.com/site/cs290iproject/" target="_blank">
		            <img class="img-responsive project-image" src="/pictures/VirTrack.png" alt="project name">
		            </a>
		            <div class="desc col-md-8 col-sm-8 col-xs-12">
		                <h3 class="title"><a href="https://sites.google.com/site/cs290iproject/" target="_blank">Augmented reality application written in Java</a></h3>
		                <p>This is an application written in Java using the Vuforia library. THe main objective of the game is to create a track and compete with others racing it. </p>
		                
		                <p><a class="more-link" href="https://sites.google.com/site/ece251mountainspotter/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
		            </div><!--//desc-->                          
		        </div><!--//item-->

		    </div><!--//content-->  
		</div><!--//section-inner-->                 
		</section>




</template>