<template name = "navigation">
	<header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="/pictures/profile.png" alt="Hans-Olav" height="10%" width="10%">
            <div class="profile-content pull-left">
                <h1 class="name">Hans-Olav Hessen</h1>
                <h2 class="desc">Computer Science student</h2>   
                <ul class="social list-inline">
                    <li><a href="https://github.com/hessenh" target="_blank"><i class="fa fa-github-alt"></i></a></li>                  
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>                   
                    <li><a href="https://www.linkedin.com/pub/hans-olav-hessen/81/155/426" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://soundcloud.com/hessenh" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
                    <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>                 
                </ul> 
            </div><!--//profile-->
            <div class="profile-content pull-right">
                
            </div>
        </div><!--//container-->

    </header>
</template>