<template name="skills">
	<aside class="skills aside section">
	<div class="section-inner">
		<h2 class="heading">Skills</h2>
	<div class="content">
	<p class="intro">
	</p>

	<div class="skillset">

	<div class="item">
	<h3 class="level-title">Java<span class="level-label" data-original-title="" title="">Advanced</span></h3>
	<div class="level-bar">
	<div class="level-bar-inner" data-level="90%" style="width: 90%;">
	</div>                                      
	</div><!--//level-bar-->                                 
	</div><!--//item-->

	<div class="item">
	<h3 class="level-title">Python<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">Advanced</span></h3>
	<div class="level-bar">
	<div class="level-bar-inner" data-level="80%" style="width: 80%;">
	</div>                                      
	</div><!--//level-bar-->                                 
	</div><!--//item-->

	<div class="item">
	<h3 class="level-title">Meteor<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">Advanced</span></h3>
	<div class="level-bar">
	<div class="level-bar-inner" data-level="80%" style="width: 80%;">
	</div>                                      
	</div><!--//level-bar-->                                 
	</div><!--//item-->



	<div class="item">
	<h3 class="level-title">Javascript &amp; jQuery<span class="level-label" data-original-title="" title="">Intermediate</span></h3>
	<div class="level-bar">
	<div class="level-bar-inner" data-level="75%" style="width: 75%;">
	</div>                                      
	</div><!--//level-bar-->                                 
	</div><!--//item-->

	<div class="item">
	<h3 class="level-title">HTML5 &amp; CSS3<span class="level-label" data-original-title="" title="">Intermediate</span></h3>
	<div class="level-bar">
	<div class="level-bar-inner" data-level="75%" style="width: 75%;">
	</div>                                      
	</div><!--//level-bar-->                                 
	</div><!--//item-->

	<div class="item">
	<h3 class="level-title">Ruby on Rails<span class="level-label" data-original-title="" title="">Basic</span></h3>
	<div class="level-bar">
	<div class="level-bar-inner" data-level="10%" style="width: 10%;">
	</div>                                      
	</div><!--//level-bar-->                                 
	</div><!--//item-->


	</div>              
	</div><!--//content-->  
	</div><!--//section-inner-->                 
	</aside><!--//section-->


</template>