<template name = "work_experience">
	<section class="experience section">
		<div class="section-inner">
		    <h2 class="heading">Work Experience</h2>
		    <div class="content">
		        <div class="item">
		            <h3 class="title">Teaching assistant - <span class="place"><a href="#">NTNU</a></span> <span class="year">(2014)</span></h3>
		            <p>Teaching assistant the spring semester at NTNU (Norwegian University Of Science And Technology) in software development.</p>
		        </div><!--//item-->
		        <div class="item">
		            <h3 class="title">IT support - <span class="place"><a href="#">Tafjord Kraft AS</a></span> <span class="year">(2012 - 2014)</span></h3>
		            <p>The first three years studying at NTNU I worked at the IT department at Tafjord Kraft AS in the summer.</p>
		        </div><!--//item-->
		        
		    </div><!--//content-->  
		</div><!--//section-inner-->                 
	</section>

</template>